<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">

  <!-- the targets to write to -->
  <targets>

    <target xsi:type="File"
        name="UniversalForm"
        archiveFileName = "logs/UniversalForm-{##}.log"
        archiveAboveSize="5242880"
        maxArchiveFiles = "15"
        archiveNumbering="Rolling"
        fileName="logs/UniversalForm.log"
        encoding="utf-8"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} ${logger:shortName=true}:0 - ${message}" />

    <target xsi:type="File"
        name="sys"
        archiveEvery="Day"
        archiveFileName = "logs/sys-{########}.log"
        maxArchiveFiles = "2"
        archiveNumbering = "Date"
        archiveDateFormat = "yyyyMMdd"
        fileName="logs/sys.log"
        encoding="utf-8"
        layout="${date:format=yyyy-MM-dd HH\:mm\:ss,fff} ${level:uppercase=true} ${logger:shortName=true}:0 - ${message}" />


  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="UniversalForm.*" minlevel="Info" writeTo="UniversalForm" />
    <logger name="System.Net.*" minlevel="Info" writeTo="sys" />
  </rules>
</nlog>
